# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
node_modules
dist
dist-ssr
*.local

# Scripts e arquivos temporários
resultado.txt
tree.txt

# Environment variables
.env
.env.*
!.env.example

# Vite cache
.vite

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
